<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_WGJMg74r40GQP3-bDHll2eOQ9vZ14ZA</string>
	<key>GCM_SENDER_ID</key>
	<string>1077834137347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xohxe.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-d5bd8</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-d5bd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077834137347:ios:58e1e316d70fed2eaf7336</string>
</dict>
</plist>
